/* import fonts here */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Theme/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: local('Roboto'), url(./Theme/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    src: local('Roboto'), url(./Theme/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

